In [1]:
from astropy.table import Table

In [2]:
t = Table.read('Cubelets_Source_Finding/Not_Real_Sources.csv', format='ascii.csv',delimiter=',')

In [7]:
from astropy.io import ascii
test_input = 'Cubelets_Source_Finding/Real_Sources_RADEC.csv'
text_file = ascii.read(test_input)
print(text_file)
text_file.write('Cubelets_Source_Finding/Real_SourcesV3.fits')

   RA       Dec
-------- ---------
16:34:38 -47:36:34
16:34:38 -47:36:34
16:34:38 -47:36:34
16:34:38 -47:36:34
16:34:54 -47:35:39
16:34:54 -47:35:39
16:34:54 -47:35:39
16:34:54 -47:35:39
16:34:54 -47:35:39
16:34:59 -46:17:59
     ...       ...
17:00:11 -42:07:19
17:00:11 -42:07:19
17:00:11 -42:07:19
17:00:11 -42:07:19
16:38:30 -47:00:35
16:38:30 -47:00:35
16:40:15 -46:38:40
16:46:23 -45:38:23
16:46:23 -45:38:23
17:00:50 -42:26:08
17:02:37 -44:29:12
Length = 258 rows

In [11]:
import astropy.table as at
fits_file = 'Paper_Sources_Known2.fits'
table = at.Table.read(fits_file)

In [12]:
print(table)

     RA          Dec
------------ ------------
16:37:06.567 -48:13:42.32
 16:34:38.26  -47:36:33.0
 16:34:54.39  -47:35:37.2
 16:35:55.22  -47:38:45.7
 16:36:12.46  -47:37:55.0
 16:35:33.95  -47:31:11.4
16:38:47.917 -48:00:09.39
16:35:46.541 -47:16:16.91
 16:36:56.36  -47:22:26.8
 16:38:50.57  -47:27:59.3
         ...          ...
16:48:36.699 -44:56:20.44
16:45:39.744 -44:20:20.36
16:55:37.853 -45:06:11.32
16:59:22.624 -45:36:08.64
 16:52:17.84  -44:26:52.5
 16:51:19.43  -44:13:44.5
16:57:11.741 -43:09:36.11
 16:58:17.19  -42:52:08.4
17:00:50.009 -42:26:10.37
 17:00:10.92  -42:07:18.7
 17:04:07.81  -42:18:40.2
Length = 49 rows

In [13]:
import astropy.table as at
fits_file = 'Paper_Sources_Known2.fits'
table = at.Table.read(fits_file)

In [14]:
t.info

<Table length=49>
name dtype
---- -----
 ﻿RA str12
 Dec str12

In [15]:
t.show_in_notebook()

In [16]:
t.colnames

['\ufeffRA', 'Dec']

In [17]:
from astropy.time import Time
from astropy.coordinates import SkyCoord

In [18]:
t.to(u.hourangle, u.deg)

AttributeError: 'Table' object has no attribute 'to'

In [19]:
from astropy.table import QTable
from astropy import units as u

In [20]:
t = QTable()

In [21]:
from astropy.coordinates import SkyCoord  # High-level coordinates
from astropy.coordinates import ICRS, Galactic, FK4, FK5  # Low-level frames
from astropy.coordinates import Angle, Latitude, Longitude  # Angles
import astropy.units as u

In [23]:
RA_coord=[16 37 06.567,16 34 38.26,16 34 54.39,16 35 55.22,16 36 12.46,16 35 33.95,16 38 47.917,16 35 46.541,16 36 56.36,16 38 50.57,16 37 02.594,16 38 09.50,16 38 29.68,16 36 47.659,16 37 41.516,16 41 10.43,16 41 06.07,16 38 48.48,16 40 04.009,16 39 39.05,16 38 09.05,16 42 15.53,16 39 58.88,16 41 07.023,16 36 25.745,16 43 08.23,16 40 33.57,16 44 49.16,16 43 43.12,16 43 44.937,16 51 06.21,16 51 06.20,16 52 04.67,16 52 04.64,16 49 07.957,16 48 46.321,16 47 31.796,16 48 13.88,16 48 36.699,16 45 39.744,16 55 37.853,16 59 22.624,16 52 17.84,16 51 19.43,16 57 11.741,16 58 17.19,17 00 50.009,17 00 10.92,17 04 07.81]

SyntaxError: invalid syntax (<ipython-input-23-3d02f9d6598c>, line 1)

In [ ]:
type(t[''])

In [ ]:
t['RA'] = [16:37:06.567, 16:34:38.26, 16:34:54.39, 16:35:55.22, 16:36:12.46, 16:35:33.95, 16:38:47.917, 16:35:46.541, 16:36:56.36, 16:38:50.57, 16:37:02.594, 16:38:09.50, 16:38:29.68, 16:36:47.659, 16:37:41.516, 16:41:10.43, 16:41:06.07, 16:38:48.48, 16:40:04.009, 16:39:39.05, 16:38:09.05, 16:42:15.53, 16:39:58.88, 16:41:07.023, 16:36:25.745, 16:43:08.23, 16:40:33.57, 16:44:49.16, 16:43:43.12, 16:43:44.937, 16:51:06.21, 16:51:06.20, 16:52:04.67, 16:52:04.64, 16:49:07.957, 16:48:46.321, 16:47:31.796, 16:48:13.88, 16:48:36.699, 16:45:39.744, 16:55:37.853, 16:59:22.624, 16:52:17.84, 16:51:19.43, 16:57:11.741, 16:58:17.19, 17:00:50.009, 17:00:10.92, 17:04:07.81] * u.hourangle